In [1]:
import pandas as pd

In [2]:
df1 =  pd.read_csv("tg_results_1.csv")
df2 = pd.read_csv("tg_results_adj.csv")

In [3]:
df1.head()

        state                  dimension  count  percentage  total_posts
0  Guanajuato                     INCOME     80   36.529680          219
1  Guanajuato  ACCESS TO HEALTH SERVICES      6    2.739726          219
2  Guanajuato            EDUCATIONAL_LAG     11    5.022831          219
3  Guanajuato  ACCESS TO SOCIAL SECURITY     35   15.981735          219
4  Guanajuato                    HOUSING     79   36.073059          219

In [4]:
mean_income1 = df1[df1['dimension'] == 'INCOME']['percentage'].mean()
mean_income1

28.889515734037957

In [5]:
mean_income2 = df2[df2['dimension'] == 'INCOME']['percentage'].mean()
mean_income2

26.27454276995346

In [6]:
mean_health1 = df1[df1['dimension'] == 'ACCESS TO HEALTH SERVICES']['percentage'].mean()
mean_health1

7.741712169854683

In [7]:
mean_health2 = df2[df2['dimension'] == 'ACCESS TO HEALTH SERVICES']['percentage'].mean()
mean_health2

9.500040062864326

In [8]:
mean_edu1 = df1[df1['dimension'] == 'EDUCATIONAL_LAG']['percentage'].mean()
mean_edu1

6.4366112144845165

In [9]:
mean_edu2 = df2[df2['dimension'] == 'EDUCATIONAL_LAG']['percentage'].mean()
mean_edu2

7.3376144299647

In [10]:
mean_ss1 = df1[df1['dimension'] == 'ACCESS TO SOCIAL SECURITY']['percentage'].mean()
mean_ss1

30.512659548470513

In [11]:
mean_ss1= df2[df2['dimension'] == 'ACCESS TO SOCIAL SECURITY']['percentage'].mean()
mean_ss1

29.554081407412134

In [12]:
mean_housing1 = df1[df1['dimension'] == 'HOUSING']['percentage'].mean()
mean_housing1

20.830139713460525

In [13]:
mean_housing2 = df2[df2['dimension'] == 'HOUSING']['percentage'].mean()
mean_housing2

19.82476855311034

In [14]:
mean_food1 = df1[df1['dimension'] == 'ACCESS TO FOOD']['percentage'].mean()
mean_food1

0.7390765775181504

In [15]:
mean_food2 = df2[df2['dimension'] == 'ACCESS TO FOOD']['percentage'].mean()
mean_food2

2.3840712951552114

In [16]:
df_val = pd.read_csv('official_data_2022.csv', delimiter=";")

In [17]:
df_val.head()

,year,state,education,health,social,housing1,housing2,food,poverty,ext_pov
0,2022.0,Aguascalientes,16.5,26.2,34.7,4.7,2.5,15.6,33.0,6.1
1,2022.0,Baja California,15.5,28.4,34.7,6.1,4.1,10.0,18.8,2.8
2,2022.0,Baja California Sur,14.2,17.3,29.9,8.6,9.9,14.5,17.9,2.8
3,2022.0,Campeche,20.3,34.6,54.7,14.9,34.9,22.0,51.0,15.9
4,2022.0,Coahuila de Zaragoza,13.5,19.7,24.4,3.4,3.4,13.2,28.8,5.9

In [18]:
df_val['education'].mean()

19.190625

In [19]:
df_val['health'].mean()

36.5

In [20]:
df_val['social'].mean()

48.809375

In [21]:
df_val['housing1'].mean()

9.375

In [22]:
df_val['housing2'].mean()

18.153125000000003

In [23]:
df_val['food'].mean()

18.1875

In [24]:
df_val['poverty'].mean()

41.443749999999994